.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
*.egg-info/
build
htmlcov

/.venv/
.mypy_cache/
__pycache__/

/dist/
/local/
.vscode/settings.json
test_recording.wav
wyoming_universal_stt/wyoming_whisper.py
test_server.py
test_mic.py
